html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(315deg, #414141 0%, #000000 74%);
  margin: 0px;
  padding-top: 0px;
  text-align: center;
  font-family: "Avenir Next", serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bca18c;
  border-radius: 10px;
}

.top-container .container {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

.navbar-custom {
  width: 70%;
  margin: auto;
  outline: none;
  border-radius: 20px;
  background-color: #020205;
  font-family: "Essonnes", normal;
  text-transform: uppercase;
}

/* change the brand and text color */

.navbar-custom .nav-item {
  display: block;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .nav-item .nav-link {
  color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #bca18c;
  background-color: #ffffff;
  border-radius: 5px;
}

.navbar-custom .nav-item {
  padding: 0 1rem;
}

/*Keyframes*/
/*
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-0.7deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.2deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-4px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-3px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -4px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 3px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(3px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 4px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

*/

h1 {
  margin: 5px auto 0 auto;
  font: normal normal normal 3.625rem/0 Essonnes;
  color: #bca18c;
}

.welcome {
  padding-bottom: 100px;
}

.ml11 {
  font-weight: 700;
  font-size: 6.5rem;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.arrow a {
  color: #ffffff;
  text-decoration: none;
}

.arrow a:hover {
  color: #bca18c;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.intro p {
  margin-top: 30px;
}

h2 {
  font: normal normal bold 2.5rem/0 Essonnes;
  color: #ffffff;
}

h3 {
  font-family: "Essonnes", normal;
  color: #f4f3f3;
}

p {
  line-height: 2;
}

hr {
  border: dotted #bca18c 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  height: 100vh;
  position: relative;
  padding-top: 100px;
  margin: 0%;
}

.middle-container {
  margin: 100px 0;
}
.middle-container h2 {
  color: #ffffff;
}

.middle-container h3 {
  color: #f4f3f3;
}

.middle-container p {
  color: #b3b3b3;
}

.intro {
  width: 50%;
  margin: auto;
  overflow: auto;
}

#profile .card-item {
  overflow: auto;
}

.profile img {
  width: 14.375rem;
  height: 14.375rem;
  margin-bottom: 80px;
}

.skill-row {
  display: inline-block;
  width: 50%;
}

.card-item {
  background-color: #181818;
  border: 1px groove #bca18c;
  margin: 40px auto 0 auto;
  padding: 2% 1% 0% 1%;
  border-radius: 1rem;
}

.responsive-img {
  width: 10.5rem;
  height: 10.5rem;
}

.skill-img-left {
  float: left;
  margin: 0 10px 20px 0;
}

.skill-img-right {
  float: right;
  margin: 0 0 20px 10px;
}

.skills ul li {
  display: inline-block;
  margin: 10px;
  margin-top: 50px;
  color: #b3b3b3;
  font-size: medium;
}

.skills ul li:hover {
  color: #bca18c;
}

.contact-me {
  display: inline-block;
  width: 50%;
}

.contact-me p {
  margin: 30px 0;
}

.contact-me a {
  color: #ffffff;
}

a i:hover {
  transform: scale(1.2);
  color: #bca18c;
}

.bottom-container {
  background-color: #282828;
  padding: 50px 0 20px;
  margin-bottom: 0;
  color: #b3b3b3;
}

#download-resume {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.download-button {
  width: auto;
  font-size: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.download-button:hover {
  background-color: #bca18c;
}

.bottom-container a:hover {
  display: inline-block;
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari */
  transform: scale(1);
  color: #bca18c;
}

.footer-link-icons {
  margin-bottom: 20px;
  padding: 0 10px;
  color: #ffffff;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  h1 {
    margin: 50px auto 0 auto;
    font: normal normal normal 8.625rem/0 Essonnes;
    margin: 0;
    line-height: 0;
  }

  .navbar-custom {
    width: 50%;
  }

  .navbar-custom .nav-item {
    display: inline-block;
  }

  .top-container .container {
    margin-bottom: 200px;
  }

  .top-container {
    margin-bottom: 450px;
  }

  .intro {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .ml11 {
    font-weight: 500;
    font-size: 2.5rem;
  }

  .card-item {
    width: 70%;
  }

  .skill-img-left {
    display: none;
  }

  .skill-img-right {
    display: none;
  }

  .skills ul {
    padding: 0;
  }

  .skills ul li {
    display: inline-block;
    margin: 3px;
    margin-top: 25px;
    color: #b3b3b3;
    font-size: small;
  }
}

#education h2,
#work-experience h2 {
  margin-bottom: 40px;
}

/*TIMELINE*/

.main-timeline {
  position: relative;
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #bca18c;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative;
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px;
}

.main-timeline .icon:after {
  border: 2px solid #bca18c;
  left: 3px;
}

.main-timeline .timeline:hover .icon:before {
  left: 3px;
}

.main-timeline .timeline:hover .icon:after {
  left: -3px;
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative;
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px;
}

.main-timeline .date-outer:after {
  border: 2px solid #bca18c;
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px;
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0;
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700;
}

.main-timeline .year {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #232323;
  line-height: 36px;
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right;
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.main-timeline .description {
  margin-bottom: 0;
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right;
}

.main-timeline .timeline-content .title {
  font-family: "Essonnes", normal;
  color: #f4f3f3;
  text-align: center;
}

.main-timeline .timeline-content .description {
  color: #b3b3b3;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
    margin-top: 35px;
  }
  .main-timeline .date-content:before {
    width: 22.5%;
  }
  .main-timeline .timeline-content {
    padding: 10px 0 10px 30px;
  }
  .main-timeline .title {
    font-size: 17px;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 10px 30px 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    margin: 0;
    left: 7px;
  }
  .main-timeline .timeline {
    margin-bottom: 20px;
  }
  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }
  .main-timeline .icon {
    margin: auto 0;
  }
  .main-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0;
  }
  .main-timeline .date-content:before {
    display: none;
  }
  .main-timeline .date-outer {
    width: 110px;
    height: 110px;
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    width: 110px;
    height: 110px;
  }
  .main-timeline .date {
    top: 30%;
  }
  .main-timeline .year {
    font-size: 12px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 95%;
    text-align: center;
    padding: 10px 0;
  }
  .main-timeline .title {
    margin-bottom: 10px;
  }
}
